@media (max-width: 640px) {
    .call-to-action {
    text-align: center;
    }
    
    .call-to-action p {
    float: none;
    margin-top: 0;
    }

    .call-to-action a {
    float: none;
    margin-bottom: 15px;
    }
    
    footer {
        text-align: center;
        height: 20px;
    }
    
    .social-boat {
    display: none
    }
    
    #footer-text {
    float: none;
    }
}

@media (max-width: 850px) {
    .img-circle-div {
    .column(12);
    text-align: center;
    }
}

@media (max-width: 1065px) {
    .list-row {
        border-bottom: 0;
        padding:0;
        margin: 0;
    }
    
    .list-item {
        .column(12);
        border-bottom: 1px solid #ddd;
        padding: 3em 0 3em 0;
    }
    
    #last-item {
        border-bottom: 0;
        padding-bottom:0;
    }
}